name: try-some-bauhaus

on:
  schedule:
    - cron '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Commit Image
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Install dependencies
      run: |
        npm install express
        npm i puppeteer

    - name: Start HTTP server and save image
      run: |
        node server.js &
        node save_image.js
        ls
        git config --global user.name "Rafaela Pinter"
        git config --global user.email "rpinter811@gmail.com"
        git add "imgs/it-is-now-$(date +%Y-%m-%d).png"
        git commit -m "new image!!"
        git push -f origin main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  sleep 5 # Wait for the server to start